/* RESET: Limpia márgenes por defecto para mayor control */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    line-height: 1.6;
    color: #4d4747;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b7b7a4;
}

header {
    padding: 0; /* quitamos padding para que la imagen ocupe todo el ancho */
    border-bottom: 7px solid #c6e3ae;
}

/* Contenedor para imagen de fondo y texto superpuesto */
.contenedor {
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.contenedor img {
    width: 130%;
    height: auto;
    display: block;
    filter: blur(2px);
}

/* Texto centrado sobre la imagen */
.texto-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: rgb(27, 0, 150);
    padding: 100px;
}

.texto-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(30, 3, 3, 0.7);
}

.texto-header .subtitle {
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px rgba(255, 12, 12, 0.6);
}

/* Secciones del contenido */
section {
    margin: 30px 0;
    background: #eddcd2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
    color: #2f3e46;
    border-bottom: 1px solid #cad2c5;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h1 {
    color: #2f3e46;
    font-size: 2.5rem;
}

/* Estilo general para imágenes fuera del header */
img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
